<!-- Stock Trading Website-->

<!-- Layout for the Website-->
<!DOCTYPE html>

<html lang="en"></html>
    <head>
        <!-- Required meta tags. -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/. -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <!-- CSS. -->
        <link href="/static/css/styles.css" rel="stylesheet">
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>C$50 Finance: {% block title %}{% endblock %}</title>
        
        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <!-- <link href="/static/icons/DB.ico" rel="icon" -->
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/DB.ico">
        <script>
            window.onbeforeunload = function() {
                navigator.sendBeacon('/logout');
            }
        </script>
    </head>

    <body>        
        <!-- nav contains all navbar elements. -->
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/dashboard"><span class="blue">Broker</span><span class="red">Trap</span><span class="yellow">Coin</span> <span class="gray">Finance</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <!-- The user is logged in. -->
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/view">View</a></li>
                        <li class="nav-item"><a class="nav-link" href="/quote">Quote</a></li>
                        <li class="nav-item"><a class="nav-link" href="/buy">Buy</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sell">Sell</a></li>
                        <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" >Version 0.0.1</a></li>
                        <li class="nav-item"><a class="logoutbutton" href="/logout">Log Out</a></li>
                    </ul>
                <!-- The user is logged out. -->
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2 gap-2">
                        <li class="nav-item"><a class="registerbutton" href="/register">Register</a></li>
                        <li class="nav-item"><a class="loginbutton" href="/login">Log In</a></li>
                    </ul>
                    <!--                     
                    <div class="d-flex gap-2 text-center justify-content-end">
                        <a class="registerbutton" href="/register">Register </a>
                        <a class="loginbutton" href="/login">Login</a>
                    </div>
                    -->

                {% endif %}
            </div>
        </nav>

        <!-- flash message -->
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <!-- Main content of each page -->
        <main class="container p-5">
            {% block main %}
                {% if request.path == '/dashboard' %}
                    <div class="time-container">
                        <p class="current-time">The current time is:</p>
                        <p class="current-time">{{ current_time }}</p>
                    </div>
                {% endif %}
        <!-- Other content for the dashboard page -->
            {% endblock %}
        </main>

        
        <!-- Footer. -->
        <footer class="small text-center text-muted">
            Brought to you by <a href="https://www.facebook.com/hotboy.huutinh.boytubi">BunCaKoi</a>
        </footer>

    </body>
</html>